div#results .tweet {
  padding:10px;
  border:1px solid gray;
  color: #333;
  font-size:1em;
  margin-top:20px;
}

div#results p { padding:0; margin:0;}

div#results img {
  float:left;
  padding-right:10px;
}

div#results .name {
  font-size:.9em;
}

div#results .screenName {
  font-size:.8em;
}

